/Control-5_Epochs.h5
/Control-7_Epochs.h5
/Control-8_Epochs.h5
/Control-10_Epochs.h5
/Control-20_Epochs.h5
/assessment-images-raw
/assessment-keys
/assessment-mcqs
/data
/temp-assessment-images
/temp-assessment-keys
/training-images-raw