/assessment-images-raw
/assessment-keys
/assessment-mcqs
/data
/temp-assessment-images
/temp-assessment-keys
/training-images-raw
/src/Control-5_Epochs.h5
/src/Control-5_Epochs.h5
/src/Control-7_Epochs.h5
/src/Control-8_Epochs.h5
/src/Control-20_Epochs.h5
/src/Control-10_Epochs.h5.zip